*{margin: 0;padding: 0;box-sizing: border-box}
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
body{
    margin:0;
    width:100%;
    height:100%;
    background: white;
    background-attachment: fixed;
}
section{position: absolute;width: 100%;height: 100vh;overflow: hidden}
section h2{position: absolute;top: 0;left: 0;width: 100%;height: 100%;align-items: center;mix-blend-mode: multiply;font-size: 35vw;font-weight: bold;
color: white;background: black}
section video{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover}
.mg{max-width: 600px;column-count: 2;}
 .mg h2{width:120px;text-align: center;border: 1.4px solid #4E4E4E;padding: 6px 0px;font-size: 16px;justify-content: space-around;
 color: #4E4E4E;}
 .mg h2:hover{
    background: #0368FE;color:white;border: none; 
 }
.mg a{text-decoration: none;}
.owl-prev {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  left: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-next {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  right: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 0.5;
}


/* Owl Carousel */


/* Popup Text */

.white-popup-block {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;;
  margin: 10px auto;
  position: relative;
}


.item {
  position: relative;
}
.item i {
  display: none;
  font-size: 4rem;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.item a {
  display: block;
  width: 100%;
}
.item a:hover:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.item a:hover i {
  display: block;
  z-index: 2;
}
.navbar{width: 100%;height: 50px;background: black;position: sticky;z-index: 99;
  top: 0;margin-bottom: 50px}
.sticky + .mg {
  padding-top: 60px;
}


.navbar a {text-decoration: none;padding: 10px;line-height: 90px;}
button{width: 100px;background: green;border: none;border-radius: 5px;color: white;font-size: 20px;letter-spacing: 1.5px;
padding: 6px 0px;font-family: 'Roboto', sans-serif;}
.right{float: right;position: relative;bottom: 27px}
.desi{max-width: 600px;display: block;margin: 10px auto;}
.desi img{width: 100%;}
h5{position: relative;bottom: 220px}
.proje{margin-top: 130px;height:90vh;overflow:scroll;margin-left: 5px;}
.mrg{width: 90vw;height: 80vh;background: red;display: block;margin: 20px auto}
.mrg img{width:100%;height: auto;}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 #userInput{border-radius: 20px;padding: 5px 15px;outline: none;background: white}
 h2{text-align: center}
       #userInput{display: block;margin: 0 auto;}
      
.contact {
  cursor: pointer;
  transition: all 200ms ease-in;list-style-type:none;
}

.contact:hover {
  background: #fff;
}
ul a{text-decoration: none;}
.collection-header h4{color: black;}
 h4{ border-bottom: 1px solid #E9E7E7;width: 35px;height: 35px;border-radius: 25px;background: white;padding-left: 12px;margin-left: 20px;
 margin-top: 15px;padding-top: 7px;font-family: 'Poppins', sans-serif;}
 .collection-item{margin-top: 5px;margin-left: 35px;font-family: 'Poppins', sans-serif;}
 footer{background: gray;height: 110px;color: #4F4F4F;font-size: 20px;text-align: center;padding-top: 15px}
#spopup{
    background:#f3f3f3;
    border-radius:9px;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-box-shadow:inset 0 0 3px #333;
    -webkit-box-shadow:inset 0 0 3px #333;
    box-shadow:inner 0 0 3px #333;
    padding:12px 14px 12px 14px;
    width:300px;
    position:fixed;
    bottom:13px;
    right:2px;
    display:none;
    z-index:90;
}